
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');

* {
  margin: 0 auto;
  padding: 0;
}

html,body { height:100%; }

body {
  /*background: rgb(36, 36, 73);*/
  background: #ABDA8E;
  /*background: radial-gradient(circle, rgba(36, 36, 73, 1) 0%, rgba(49, 86, 130, 1) 100%);*/

  /*font-family: "Roboto", sans-serif;*/
  font-family: 'Rufina', serif;
  padding: 2.5%;
}

#foundation {
  max-width: 80vw;
  height: 95%;
  margin: 0 auto;
  background-color: #edf2f4;
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: relative;
  padding: 15px 10px 5px 10px;
}
.title {
  text-align: center;
  margin: 10px 0 40px 0;
}
#s1 {
  text-align: center;
  margin: 5px 20px 5px;
}
#s1 input {
  text-align: center;
  height: 25px;
  width: 300px;
}
#s1 > * {
  margin: 10px;
}
#s3 {
    width: auto;
}
#totalgrade {
    text-align: center;
    margin: 20px;
    text-decoration: underline;
}
